extends layout

block nav
    +navigation("participant")

    

block content
    .container
       form(method="post" action="/admin/participant/#{participant._id}")
        .panel.panel-default
         .panel-heading
           h1 #{participant.name}
         .panel-body
                fieldset
                  legend Mailing address
                  address
                     strong #{participant.name}
                     br 
                     | #{participant.address.street}
                     if participant.address.street2
                       br 
                       | #{participant.address.street2}
                     br 
                     | #{participant.address.city}, #{participant.address.state} #{participant.address.zip}
                     br 
                     | #{participant.address.country}
                fieldset
                  legend Contact Person
                  address
                     strong #{participant.contact.name.first} #{participant.contact.name.last}
                     br
                     a(href="mailto:#{participant.contact.email}") #{participant.contact.email}
                     br
                     a(href="tel:#{participant.contact.phone}") #{participant.contact.phone}

                fieldset
                  h3 Users 
                  .table-responsive
                     table.table
                        tbody
                         - each user in users
                            tr 
                              td #{user.name.first} #{user.name.last}
                              td #{user.email}
                fieldset
                  legend Account administration
                
  
                .row 
                  .col.col-xs-12
                    .form-group
                        label(style="margin-right:10px") Subcription Status
                        p.form-control-static #{participant.subscription.status} 
                    .form-group
                        label(style="margin-right:10px") Number of pumps (if active)
                        p.form-control-static #{participant.subscription.pumps} 
                        
                    .help-block Subscription level is based on payment in the E-Store.
                .row 
                  .col.col-xs-12
                    .form-group
                        label(style="margin-right:10px") Participant Status:  
                        input.switchBox(type="checkbox", name="participant[active]", checked=(participant.active), data-on-text="Active", data-off-text="Disabled")
                        .help-block Administrators can disable a participant account if terms of service are violated.  This will prevent all users associated with this organization from logging in, and their pumps will no longer be publically listed (although they will not be deleted from the program database).  For temporary payment issues, another alternative is to set the subscription level as appropriate instead of disabling the account.  This allows users to continue to log in, but they will not be able to add new pumps.

                .row 
                  .col.col-xs-12
                    .form-group
                        a.btn.btn-danger(href="/admin/participant/#{participant._id}/delete") Delete this participant completely
         .panel-footer
                .row     
                    .col.col-xs-12   
                        button.btn.btn-primary(type="submit") Save Changes

                        a.btn.btn-default.btn-space(href="/") Cancel
        
        
                                
                                