extends layout

block nav
    +navigation("participant_pumps")
    
block content
 .container(ng-controller="ERAdminController as app",ng-init="app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}")

      .panel.panel-default
        .panel-heading 
            .pull-right.solo
               a(href="/admin/participant/#{participant._id}/pumps") Back to pump list
            
            
            h2 Pump #{pump.basic_model} - #{pump.diameter} inches @ #{pump.speed} rpm
        .panel-body
          .row
           .col.col-sm-5.text-center
             img(src="/images/doe/#{pump_drawing}")
             p.solo: a.btn.btn-danger(href="/admin/participant/#{participant._id}/pumps/#{pump._id}/download") Download full data
           .col.col-sm-7
                .row 
                    .form-group
                        .col.col-xs-5
                            label Organization:
                        .col.col-xs-7
                            .form-control-static #{pump.participant}
                .row 
                    .form-group
                        .col.col-xs-5
                            label Basic model designation:
                        .col.col-xs-7
                            .form-control-static #{pump.basic_model}
                .row 
                    .form-group
                        .col.col-xs-5
                            label DOE product category:
                        .col.col-xs-7
                            .form-control-static #{pump.doe}
                .row 
                    .form-group
                        .col.col-xs-5
                            label HI approved laboratory:
                        .col.col-xs-7
                            .form-control-static #{pump.laboratory}
                .row 
                    .form-group
                        .col.col-xs-5
                            label Testing method:
                        .col.col-xs-7
                            .form-control-static #{section_label(pump.section)} 
                .row 
                    .form-group
                        .col.col-xs-5
                            label Full impeller diameter (in):
                        .col.col-xs-7
                            .form-control-static #{pump.diameter}
                .row 
                    .form-group
                        .col.col-xs-5
                            label Nominal speed (rpm):
                        .col.col-xs-7
                            .form-control-static #{pump.speed}
                .row 
                    .form-group
                        .col.col-xs-5
                            label BEP flow rate (gpm):
                        .col.col-xs-7
                            .form-control-static #{pump.flow.bep100}
                .row 
                    .form-group
                        .col.col-xs-5
                            label BEP head (feet):
                        .col.col-xs-7
                            .form-control-static #{pump.head.bep100}
                .row 
                    .form-group
                        .col.col-xs-5
                            label Rated motor power (hp):
                        .col.col-xs-7
                            .form-control-static #{pump.motor_power_rated}

                
      
      .panel.panel-default
        .panel-heading 
            h2 Energy Ratings
        .panel-body
           
           .row
            .col.col-lg-4.text-center
              h4 Pump Energy Index
              p.pei_display #{pump.pei}
            .col.col-lg-4.text-center
              h4 Energy Rating
              p.er_display #{pump.energy_rating}
            .col.col-lg-4.text-center
              h4 Energy Savings
              p.er_savings_display #{pump.energy_savings} HP
          
        

      .panel.panel-default
        .panel-heading 
            h2 Downloadable Media
        .panel-body
          
          .row.solo
            .col.col-lg-8.text-center
             
              object(id="label_svg", data="/labels/#{participant._id}/#{pump._id}/svg", type="image/svg+xml")
                
              p.solo.text-center: a.btn.btn-primary(href="/labels/#{participant._id}/#{pump._id}/svg", target="_blank") Download
            
            .col.col-lg-4.text-center
              img(src="/labels/#{participant._id}/#{pump._id}/qr")
              p.solo.text-center: a.btn.btn-primary(href="/labels/#{participant._id}/#{pump._id}/qr", target="_blank") Download


      .panel.panel-default
        .panel-heading
          h2 Administrative controls
        .panel-body
         form(action="/admin/participant/#{participant._id}/pumps/#{pump._id}", method="post")
          .row
           .col.col-xs-12
            
              .form-group
                label(style="margin-right:10px") Pump listing status:   
                img(height="25" width="25" ng-src="/images/#{pump.listed ? 'active' : 'inactive'}.png")
                .help-block This setting is controlled by #{pump.participant}.  
          hr
          .row
            .col.col-xs-12
              .form-group
                label(style="margin-right:10px").text-danger Program Manager listing status override:  
                input.switchBox(type="checkbox", name="active_admin", checked=(pump.active_admin), data-on-text="Enabled", data-off-text="Disabled")
                .help-block Program managers may remove pump listings if neeeded.  Marking this pump as disabled will remove the pump from public listings.  You should consider leaving a note below to explain to the participant why this pump is being de-listed.
              .form-group
                label(style="margin-right:10px").text-danger Program manager notes  
                textarea.form-control(name="note_admin", rows="5")
                  | #{pump.note_admin}
                .help-block These notes are only visible to the participant, they are never publically seen.

         
          .row
            .col.col-xs-12
               button.btn.btn-danger(type="submit") Save changes