extends layout
include ../common/pump_page

block nav
    +navigation("participant_pumps")
    
block content
 .container(ng-controller="ERAdminController as app",ng-init="app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}")

      .panel.panel-default
        .panel-heading 
            .pull-right.solo
               a(href="/admin/participant/#{participant._id}/pumps") Back to pump list
            
            h2 #{pump.brand} #{pump.brand ? ' / ' : ''} #{pump.basic_model} #{pump.individual_model}
            h2 #{(pump.diameter*units.diameter.factor).toFixed(3)} #{units.diameter.label} @ #{pump.speed} rpm
        .panel-body

          .row
           .col.col-sm-5.text-center
             .row
              .col.col-sm-6.text-center
                h4 Pump Energy Index
                p.pei_display #{pump.pei.toFixed(2)}
                p.pei_baseline Baseline: #{pump.pei_baseline.toFixed(2)}
              .col.col-sm-6.text-center
                h4 Energy Rating
                p.er_display #{pump.energy_rating}
             .row
              .col.col-sm-12.text-center
                img(src="/images/doe/#{pump_drawing}").hidden-xs
                img(src="/images/doe/#{pump_drawing}", style="width:90%").hidden-md.hidden-lg.hidden-sm
                p.solo: a.btn.btn-danger(href="/admin/participant/#{participant._id}/pumps/#{pump._id}/download") Download full data
           .col.col-sm-7
             +pump_page_info(pump)

      
      .panel.panel-default
        .panel-heading 
            h2 Downloadable Media
        .panel-body
          
          .row.solo
            .col.col-xs-12.text-center
              img(src="/labels/#{participant._id}/#{pump._id}/png", style="width:100%; max-width:600px;")
          .row.solo
            .col.col-xs-12.text-center
              img(src="/labels/#{participant._id}/#{pump._id}/png-sm", style="width:100%; max-width:400px;")
          
          .row.solo
            .col.col-xs-12.text-center
              img(src="/labels/#{participant._id}/#{pump._id}/qr/png", style="width:100%; max-width:600px;")

      if pump.revisions && pump.revisions.length > 1
       .panel.panel-default
        .panel-heading
          h2 Data Corrections / Revisions
        .panel-body
          ol 
            each revision in pump.revisions
             li
              span #{revision.note} - #{moment(revision.date).format("ll")}
      .panel.panel-default
        .panel-heading
          h2 Administrative controls
        .panel-body
         form(action="/admin/participant/#{participant._id}/pumps/#{pump._id}", method="post")
          .row
           .col.col-xs-12
            
              .form-group
                label(style="margin-right:10px") Pump listing status:   
                img(height="25" width="25" ng-src="/images/#{pump.listed ? 'active' : 'inactive'}.png")
                .help-block This setting is controlled by #{participant.name}.  
          hr
          .row
            .col.col-xs-12
              .form-group
                label(style="margin-right:10px").text-danger Program Manager listing status override:  
                input.switchBox(type="checkbox", name="active_admin", checked=(pump.active_admin), data-on-text="Enabled", data-off-text="Disabled")
                .help-block Program managers may remove pump listings if neeeded.  Marking this pump as disabled will remove the pump from public listings.  You should consider leaving a note below to explain to the participant why this pump is being de-listed.
              .form-group
                label(style="margin-right:10px").text-danger Program manager notes  
                textarea.form-control(name="note_admin", rows="5")
                  | #{pump.note_admin}
                .help-block These notes are only visible to the participant, they are never publically seen.

         
          .row
            .col.col-xs-12
               button.btn.btn-danger(type="submit") Save changes