
mixin calculator(er, mode)
  
  //- bring in required scripts and css for the calculator itself

  //- add angular controller here
  .container(ng-controller="PEIController as app", ng-init="app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}; app.setup(#{er}, #{JSON.stringify(pump)}, #{JSON.stringify(mode)})").pei
    form(action="submit", method="post", name="new_pump_pei")
     .panel.panel-default.solo
        .panel-heading
            h1 Pump Energy Index {{app.mode=='calculator' ? 'Calculator' : 'Data Entry'}}
        
        //---------------------------------------------------------------
        //- Step 1 - Choosing Configuration
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='configuration'")
            input(type="hidden", name="pump[_id]", ng-value="app.pump._id")
            input(type="hidden", name="pump[section]", ng-value="app.pump.section")
            input(type="hidden", name="pump[energy_rating]", ng-value="app.pump.energy_rating")
            input(type="hidden", name="pump[energy_savings]", ng-value="app.pump.energy_savings")
            input(type="hidden", name="pump[rating_id]", ng-value="app.pump.rating_id")
            input(type="hidden", name="pump[pei_baseline]", ng-value="app.pump.pei_baseline")
            

            .row
              .col.col-xs-12
                fieldset
                  legend Pump listing data
            .row 
              .form-group
                .col.col-xs-5
                    label.text-primary Organization / Participant:
                .col.col-xs-7
                    input.form-control(type="text", name="pump[participant]", ng-model="app.pump.participant", ng-readonly="app.participant")
            .row 
              .form-group
                .col.col-xs-5
                    label.text-primary Configuration:
                .col.col-xs-7
                    select.form-control(name="pump[configuration]", data-width="auto", ng-model="app.pump.configuration", ng-options="config as config.label for config in app.configurations track by config.value")
            
            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label.text-primary Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
            .row
               
                .form-group
                  .col.col-xs-5
                    label.text-primary Basic Model Designation
                  .col.col-xs-7.col-sm-4
                    input.form-control(type="text" ng-model="app.pump.basic_model" name="pump[basic_model]")
            
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Model Full Impeller Diameter (in)
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number" ng-model="app.pump.diameter", min="0", step=".0625", name="pump[diameter]")

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Nominal speed of rotation
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.speed", value="3600", name="pump[speed]") 
                      | 3600 rpm
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.speed", value="1800", name="pump[speed]") 
                      | 1800 rpm
            
                
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Number of stages tested
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="1", name="pump[stages]", ng-model="app.pump.stages")

            
                

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary HI Approved Laboratory Registration Number
                  .col.col-xs-7.col-sm-4
                    input.form-control(ng-model="app.pump.laboratory", name="pump[laboratory]")     
            
            hr
            .row
              .col.col-xs-12
                button.btn.btn-primary(type="button", ng-disabled="!app.pump.configuration", ng-click="app.go2MotorMethod()") Next


        //---------------------------------------------------------------
        //- Step 2 - Motor Performance method -> Calculation Section selected
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='motor_method'")
            .row
              .col.col-xs-12
                fieldset
                  legend Motor performance method
            
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}
            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic Model Designation:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} inches @ {{app.pump.speed}} rpm
            hr 
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary How is motor performance determined?  
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio", name="pump[motor_method]", ng-model="app.pump.motor_method", value="tested") 
                      | Tested
                    label.radio-inline
                      input(type="radio", name="pump[motor_method]", ng-model="app.pump.motor_method", value="calculated") 
                      | Calculated
            hr
            .row
              .col.col-xs-10
                button.btn.btn-default(type="button", ng-disabled="!app.pump.motor_method", ng-click="app.go2Configuration(true)") Back
                button.btn.btn-primary.btn-space(type="button", ng-disabled="!app.pump.motor_method", ng-click="app.go2Options()") Next
                
              .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over


        //---------------------------------------------------------------
        //- Step 3 - All additional options
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='options'")
            .row
              .col.col-xs-12
                fieldset
                  legend Option selection
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}
            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic Model Designation:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} inches @ {{app.pump.speed}} rpm

            .row(ng-show="app.motor_method_required()")
                .form-group
                  .col.col-xs-5
                    label Motor performance method:
                  .col.col-xs-7
                    .form-control-static {{app.pump.motor_method == "tested" ? "Tested (water to wire)" : "Calculated"}}
            .row 
                .form-group
                  .col.col-xs-5
                    label PEI calculation method:
                  .col.col-xs-7
                    .form-control-static: strong {{app.section_label()}}
            hr 
            
            
            
                    
            .row
                hr
                .form-group
                  .col.col-xs-5
                    label.text-primary DOE Pump Category 
                  .col.col-xs-7
                    select.form-control(ng-model="app.pump.doe", name="pump[doe]", data-width="auto", ng-options="opt as opt.label for opt in app.doe_opts track by opt.value")
                        option(value="")  
               
            
              
            .row(ng-show="app.pump.doe.value=='ST'")
                .form-group
                  .col.col-xs-5
                    label.text-primary Bowl diameter (inches)
                  .col.col-xs-7
                    select.form-control(ng-model="app.pump.bowl_diameter", name="pump[bowl_diameter]", data-width="auto", ng-options="val as (val+'\"') for val in [1, 2, 3, 4, 6] track by val")
                        option(value="")
              
          


            .row(ng-show="app.show_motor_regulated()")
                .form-group
                  .col.col-xs-5
                    label.text-primary Is motor regulated under 10CFR 431.25? 
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" name="pump[motor_regulated]", ng-model="app.pump.motor_regulated", ng-value="true", value="true") 
                      | Yes
                    label.radio-inline
                      input(type="radio" name="pump[motor_regulated]", ng-model="app.pump.motor_regulated", ng-value="false", value="false") 
                      | No
            
            

            .row(ng-show="app.show_motor_power()")
                .form-group
                  .col.col-xs-5
                    label.text-primary Rated Motor Power used for default losses or Nameplate Rated Motor Power 
                  .col.col-xs-7.col-sm-4.col-md-2
                    select.form-control(ng-model="app.pump.motor_power_rated", name="pump[motor_power_rated]", data-width="auto", ng-options="val as (val+' HP') for val in app.powers track by val")
                        option(value="")

                hr(ng-hide="app.pump.doe.value != 'ST' && app.pump.motor_regulated =='false'")


            .row(ng-show="app.show_motor_efficiency()")
                .form-group
                  .col.col-xs-5
                    label.text-primary  Nominal nameplate motor efficiency
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="0", name="pump[motor_efficiency]", ng-model="app.pump.motor_efficiency")

            hr
            .row
              .col.col-xs-10
                button.btn.btn-default(type="button", ng-click="app.go2MotorMethod(true)") Back
                button.btn.btn-primary.btn-space(type="button", ng-disabled="app.missing_options()", ng-click="app.go2Data()") Next
              .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over
          

        .panel-body(ng-show="app.step=='data'")
            .row
              .col.col-xs-12
                fieldset
                  legend Load point data entry
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}

            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic Model Designation:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} inches @ {{app.pump.speed}} rpm


            .row(ng-show="app.motor_method_required()")
                
                .form-group
                  .col.col-xs-5
                    label Motor performance method:
                  .col.col-xs-7
                    .form-control-static {{app.pump.motor_method == "tested" ? "Tested (water to wire)" : "Calculated"}}
            .row 
                .form-group
                  .col.col-xs-5
                    label PEI calculation method:
                  .col.col-xs-7
                    .form-control-static: strong {{app.section_label()}}
            hr 

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Can the pump be tested at 120% of BEP flow?
                  .col.col-xs-7
                    div.radio
                      label.radio-inline
                        input(type="radio", name="pump[load120]", ng-model="app.pump.load120", ng-value="true", value="true") 
                        | Yes (75% / 100% / 110% load points)
                    div.radio
                      label.radio-inline
                        input(type="radio", name="pump[load120]", ng-model="app.pump.load120", ng-value="false", value="false") 
                        | No (65% / 90% / 100% load points)

            hr
            .row
               .col.col-xs-12
                .table-responsive
                 table.table
                   thead
                     tr
                       th.col-label Value at Nominal Speed of Rotation
                       th {{app.pump.load120 ? "@ 75% BEP" : "@ 60% BEP"}}
                       th {{app.pump.load120 ? "@ 100% BEP" : "@ 90% BEP"}}
                       th {{app.pump.load120 ? "@ 110% BEP" : "@ 100% BEP"}}
                       th(ng-show="app.bep120_visible()") @ 120% BEP
                    tbody
                      tr
                       td.col-label Rate of flow (gpm)
                       td: input.form-control(type="number", ng-model="app.pump.flow.bep75", name="pump[flow][bep75]") 
                       td: input.form-control(type="number", ng-model="app.pump.flow.bep100", name="pump[flow][bep100]")
                       td: input.form-control(type="number", ng-model="app.pump.flow.bep110", name="pump[flow][bep110]")
                       td(ng-show="app.bep120_visible()") 
                      tr
                       td.col-label Head (ft) 
                       td: input.form-control(type="number", ng-model="app.pump.head.bep75", name="pump[head][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.head.bep100", name="pump[head][bep100]")
                       td: input.form-control(type="number", ng-model="app.pump.head.bep110", name="pump[head][bep110]")
                       td(ng-show="app.bep120_visible()") 
                     tr(ng-show="app.driver_input_visible()")
                       td.col-label Driver Input Power (hp)
                       td: input.form-control(type="number", ng-model="app.pump.driver_input_power.bep75", name="pump[driver_input_power][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.driver_input_power.bep100", name="pump[driver_input_power][bep100]")
                       td: input.form-control(type="number", ng-model="app.pump.driver_input_power.bep110", name="pump[driver_input_power][bep110]")
                       td(ng-show="app.bep120_visible()") 
                     tr(ng-show="app.pump_power_visible()")
                       td.col-label Pump Input Power (hp)
                       td: input.form-control(type="number", ng-model="app.pump.pump_input_power.bep75", name="pump[pump_input_power][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.pump_input_power.bep100", name="pump[pump_input_power][bep100]")
                       td: input.form-control(type="number", ng-model="app.pump.pump_input_power.bep110", name="pump[pump_input_power][bep110]")
                       td(ng-show="app.bep120_visible()"): input.form-control(type="number", ng-model="app.pump.pump_input_power.bep120", name="pump[pump_input_power][bep120]")
                    
                     
                
        



            .row(ng-show="app.control_power_visible()")
              .table-responsive
               .col.col-md-6
                 table.table
                   thead
                     tr
                       th.col-label @ %BEP target
                       th Control power input (hp)
                       
                    tbody
                     tr
                       td 25% BEP
                       td: input.form-control(type="number", ng-model="app.pump.control_power_input.bep25", name="pump[control_power_input][bep25]")
                     tr
                       td 50% BEP
                       td: input.form-control(type="number", ng-model="app.pump.control_power_input.bep50", name="pump[control_power_input][bep50]")
                     tr
                       td 75% BEP
                       td: input.form-control(type="number", ng-model="app.pump.control_power_input.bep75", name="pump[control_power_input][bep75]")
                     tr
                       td 100% BEP
                       td: input.form-control(type="number", ng-model="app.pump.control_power_input.bep100", name="pump[control_power_input][bep100]")
                      






            .row(ng-show="app.measured_visible()")
              .table-responsive
               .col.col-xs-12
                 table.table
                   thead
                     tr
                       th.col-label Measured value @ variable load
                       th @ 25% BEP target
                       th @ 50% BEP target
                       th @ 75% BEP target
                       th @ 100% BEP target
                    tbody
                     tr
                       td.col-label Flow rate (gpm)
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_flow_input.bep25", name="pump[measured_control_flow_input][bep25]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_flow_input.bep50", name="pump[measured_control_flow_input][bep50]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_flow_input.bep75", name="pump[measured_control_flow_input][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_flow_input.bep100", name="pump[measured_control_flow_input][bep100]")
                      tr
                       td.col-label Head (ft) 
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_head_input.bep25", name="pump[measured_control_head_input][bep25]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_head_input.bep50", name="pump[measured_control_head_input][bep50]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_head_input.bep75", name="pump[measured_control_head_input][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_head_input.bep100", name="pump[measured_control_head_input][bep100]")
                     tr
                       td.col-label Control Power input (hp)
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_power_input.bep25", name="pump[measured_control_power_input][bep25]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_power_input.bep50", name="pump[measured_control_power_input][bep50]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_power_input.bep75", name="pump[measured_control_power_input][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_power_input.bep100", name="pump[measured_control_power_input][bep100]")


            .row(ng-show="app.mode=='manual'")
              hr
              .form-group
               .col.col-xs-5.col-sm-3
                 label.text-danger Please enter the PEI for the pump:  
               .col.col-xs-7.col-sm-3
                    input.form-control(ng-model="app.pump.pei", name="pump[pei]", type="number")
           
            hr
            .row
               .col.col-xs-10
                  button(type="button", ng-click="app.go2Options(true)").btn.btn-default Back
                  button(type="button", ng-disabled="app.data_missing()", ng-click="app.go2Results()").btn.btn-danger.btn-space Calculate {{app.calculatorText()}}
                  
               .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over

        if (er)
          .panel-body(ng-show="app.step=='results'")
            .row
              .col.col-lg-4.text-center
                h4 Pump Energy Index
                p.pei_display {{app.pump.pei}}
              .col.col-lg-4.text-center
                h4 Energy Rating
                p.er_display {{app.pump.energy_rating}}
              .col.col-lg-4.text-center
                h4 Energy Savings
                p.er_savings_display {{app.pump.energy_savings}} HP
            .row
              .col.col-xs-9
                  button(type="button", ng-click="app.go2Data(true)").btn.btn-default.btn-space Back
              .col.col-xs-3
                  button(type="button", ng-click="app.submitListing()").btn.btn-danger.btn-space Save pump listing

        else
          .panel-body(ng-show="app.step=='results'")
            .row
              .col.col-lg-4.text-center
                h4 Pump Energy Index
                p.pei_display {{app.pump.pei}}
              .col.col-lg-4.text-center
                h4 Energy Rating
                p.er_display {{app.pump.energy_rating}}
              .col.col-lg-4.text-center
                h4 Energy Savings
                p.er_savings_display {{app.pump.energy_savings}} HP
            .row.solo
             .col.col-xs-12
              .alert.alert-info These calculations are samples only - actual results will appear when the PEI calculator is fully implemented and available
          

            .row
               .col.col-xs-10
                  button(type="button", ng-click="app.go2Data(true)").btn.btn-default.btn-space Back
               .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration()") Start over