
mixin calculator(er, mode)
  
  //- bring in required scripts and css for the calculator itself

  //- add angular controller here
  .container(ng-controller="PEIController as app", ng-init="app.units = #{JSON.stringify(units)}; app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}; app.setup(#{er}, #{JSON.stringify(pump)}, #{JSON.stringify(mode)})").pei
    form(action="submit", method="post", name="new_pump_pei")
     .panel.panel-default.rating_panel
        .panel-heading(ng-show="app.standalone")
            .heading
                img(src="/images/hydraulic-institute-logo.png", width="500").hidden-xs
                img(src="/images/hydraulic-institute-logo.png", style="width:80%").hidden-md.hidden-lg.hidden-sm
                h3 Pump Energy Index (PEI) Calculator
        .panel-heading(ng-hide="app.standalone")
            h1 Pump Energy Rating - Data entry
        
        //---------------------------------------------------------------
        //- Step 1 - Choosing Configuration
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='configuration'")
            input(type="hidden", name="pump[_id]", ng-value="app.pump._id")
            input(type="hidden", name="pump[section]", ng-value="app.pump.section")
            input(type="hidden", name="pump[energy_rating]", ng-value="app.pump.energy_rating")
            input(type="hidden", name="pump[energy_savings]", ng-value="app.pump.energy_savings")
            input(type="hidden", name="pump[rating_id]", ng-value="app.pump.rating_id")
            input(type="hidden", name="pump[pei_baseline]", ng-value="app.pump.pei_baseline")
            input(type="hidden", name="pump[results]", ng-value="app.pump.results")
            input(type="hidden", name="pump[listed]", ng-value="app.pump.listed")
            input(type="hidden", name="pump[unit_set]", ng-value="app.pump.unit_set")
            input(type="hidden", name="pump[laboratory]")
        
            .row
              .col.col-xs-12
                fieldset
                  legend Pump listing information
            .row(ng-show='app.standalone') 
              .form-group
                .col.col-xs-5
                    label.text-primary Organization / Participant:
                .col.col-xs-7
                    input.form-control(type="text", name="pump[participant]", ng-model="app.pump.participant", ng-readonly="app.participant")
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Pump Brand
                    +help(help.brand)
                  .col.col-xs-7.col-sm-4
                    input.form-control(type="text" ng-model="app.pump.brand" name="pump[brand]")
            
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Basic Model Designation
                    +help(help.basic_model_number)
                  .col.col-xs-7.col-sm-4
                    input.form-control(type="text" ng-model="app.pump.basic_model" name="pump[basic_model]")

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Individual Model Number
                    +help(help.individual_model_number)
                  .col.col-xs-7.col-sm-4
                    input.form-control(type="text" ng-model="app.pump.individual_model" name="pump[individual_model]")
            
            .row 
              .form-group
                .col.col-xs-5
                    label.text-primary Configuration:
                    +help(help.configuration)
                .col.col-xs-7
                    select.form-control(name="pump[configuration]", data-width="auto", ng-model="app.pump.configuration", ng-options="config as config.label for config in app.configurations track by config.value")
            
            .row(ng-show="app.pump.configuration && app.standalone")
                .form-group
                  .col.col-xs-5
                    label.text-primary Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
            
            
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Model Full Impeller Diameter ({{app.units.diameter.label}})
                    +help(help.diameter)
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number" ng-model="app.pump.diameter", min="0", step=".0625", name="pump[diameter]")
                    

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Nominal speed of rotation
                    +help(help.speed)
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.speed", value="3600", name="pump[speed]") 
                      | 3600 rpm
                    label.radio-inline
                      input(type="radio" ng-model="app.pump.speed", value="1800", name="pump[speed]") 
                      | 1800 rpm
            
                
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Number of stages tested
                    +help(help.stages)
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="1", name="pump[stages]", ng-model="app.pump.stages")
 
            
                
            .row 
              .form-group
                .col.col-xs-5
                  label.text-primary HI Approved Laboratory
                  +help(help.lab)
                .col.col-xs-7.col-sm-4

                  select.form-control(ng-model="app.pump.laboratory", ng-options="lab as (lab.name + ' - ' + lab.code) for lab in app.active_labs track by lab._id")
            
           
            
            hr
            .row
              .col.col-xs-12
                button.btn.btn-primary(type="button", ng-disabled="!app.pump.configuration || !app.pump.speed || !app.pump.diameter  || !app.pump.basic_model ||!app.pump.participant || !app.pump.stages || !app.pump.laboratory", ng-click="app.go2MotorMethod()") Next


        //---------------------------------------------------------------
        //- Step 2 - Motor Performance method -> Calculation Section selected
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='motor_method'")
            .row
              .col.col-xs-12
                fieldset
                  legend Motor performance method
            
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}
            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Pump Brand:
                  .col.col-xs-7
                    .form-control-static {{app.pump.brand}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic / Individual Model Number:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}} / {{app.pump.individual_model}}
         
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} {{app.units.diameter.label}} @ {{app.pump.speed}} rpm
            hr 
            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary How are motor losses determined?  
                    +help(help.motor_loss)
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio", name="pump[motor_method]", ng-model="app.pump.motor_method", value="tested") 
                      | Tested
                    label.radio-inline
                      input(type="radio", name="pump[motor_method]", ng-model="app.pump.motor_method", value="calculated") 
                      | Calculated
            hr
            .row
              .col.col-xs-10
                button.btn.btn-default(type="button", ng-disabled="!app.pump.motor_method", ng-click="app.go2Configuration(true)") Back
                button.btn.btn-primary.btn-space(type="button", ng-disabled="!app.pump.motor_method", ng-click="app.go2Options()") Next
                
              .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration(true)") Start over


        //---------------------------------------------------------------
        //- Step 3 - All additional options
        //---------------------------------------------------------------
        .panel-body(ng-show="app.step=='options'")
            .row
              .col.col-xs-12
                fieldset
                  legend Option selection
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}
            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Pump Brand:
                  .col.col-xs-7
                    .form-control-static {{app.pump.brand}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic / Individual Model Number:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}} / {{app.pump.individual_model}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} {{app.units.diameter.label}} @ {{app.pump.speed}} rpm

            .row(ng-show="app.motor_method_required()")
                .form-group
                  .col.col-xs-5
                    label Motor performance method:
                  .col.col-xs-7
                    .form-control-static {{app.pump.motor_method == "tested" ? "Tested (water to wire)" : "Calculated"}}
            .row 
                .form-group
                  .col.col-xs-5
                    label PEI calculation method:
                  .col.col-xs-7
                    .form-control-static: strong {{app.section_label()}}
            hr 
            
            
            
                    
            .row
                hr
                .form-group
                  .col.col-xs-5
                    label.text-primary Equipment Category 
                    +help(help.motor_loss)
                  .col.col-xs-7
                    select.form-control(ng-model="app.pump.doe", name="pump[doe]", data-width="auto", ng-options="opt as opt.label for opt in app.doe_opts track by opt.value")
                        option(value="")  
               
            
              
            .row(ng-show="app.pump.doe.value=='ST'")
                .form-group
                  .col.col-xs-5
                    label.text-primary Bowl diameter ({{app.units.diameter.label}})
                    +help(help.bowl_diameter)
                  .col.col-xs-7
                    select.form-control(ng-model="app.pump.bowl_diameter", name="pump[bowl_diameter]", data-width="auto", ng-options="val as (val+' ' + app.units.diameter.label) for val in app.bowl_diameters() track by val")
                        option(value="")
              
          


            .row(ng-show="app.show_motor_regulated()")
                .form-group
                  .col.col-xs-5
                    label.text-primary Is motor regulated under 10CFR 431.25? 
                    +help(help.motor_regulated)
                  .col.col-xs-7
                    label.radio-inline
                      input(type="radio" name="pump[motor_regulated]", ng-model="app.pump.motor_regulated", ng-value="true", value="true") 
                      | Yes
                    label.radio-inline
                      input(type="radio" name="pump[motor_regulated]", ng-model="app.pump.motor_regulated", ng-value="false", value="false") 
                      | No
            
            

            .row(ng-show="app.show_motor_power()")
                .form-group
                  .col.col-xs-5(ng-show="app.pump.section=='3'")
                    label.text-primary Rated Motor Power used for default losses
                    +help(help.motor_power_rated_3)
                  .col.col-xs-5(ng-hide="app.pump.section=='3'")
                    label.text-primary Nameplate Rated Motor Power
                    +help(help.motor_power_rated_4567) 
                  .col.col-xs-7.col-sm-4.col-md-2
                    select.form-control(ng-model="app.pump.motor_power_rated", name="pump[motor_power_rated]", data-width="auto", ng-options="val as (val.toFixed(2)+' ' + app.units.power.label) for val in app.powers() track by val")
                        option(value="")

                hr(ng-hide="app.pump.doe.value != 'ST' && app.pump.motor_regulated =='false'")


            .row(ng-show="app.show_motor_efficiency()")
                .form-group
                  .col.col-xs-5
                    label.text-primary  Nominal nameplate motor efficiency
                    +help(help.nominal_motor_efficiency)
                  .col.col-xs-7.col-sm-4.col-md-2
                    input.form-control(type="number", min="0", name="pump[motor_efficiency]", ng-model="app.pump.motor_efficiency")

            hr
            .row
              .col.col-xs-10
                button.btn.btn-default(type="button", ng-click="app.go2MotorMethod(true)") Back
                button.btn.btn-primary.btn-space(type="button", ng-disabled="app.missing_options()", ng-click="app.go2Data()") Next
              .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration(true)") Start over
          

        .panel-body(ng-show="app.step=='data'")
            .row
              .col.col-xs-12
                fieldset
                  legend Load point data entry
            .row 
                .form-group
                  .col.col-xs-5
                    label Configuration:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.label}}

            .row(ng-show="app.pump.configuration")
                .form-group
                  .col.col-xs-5
                    label Rating Load Type:
                  .col.col-xs-7
                    .form-control-static {{app.pump.configuration.value == 'bare' || app.pump.configuration.value == 'pump_motor' ? "Continuous Load (CL)" : "Variable Load (VL)"}}
           
            .row 
                .form-group
                  .col.col-xs-5
                    label Pump Brand:
                  .col.col-xs-7
                    .form-control-static {{app.pump.brand}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Basic / Individual Model Number:
                  .col.col-xs-7
                    .form-control-static {{app.pump.basic_model}} / {{app.pump.individual_model}}
            .row 
                .form-group
                  .col.col-xs-5
                    label Impeller diameter and Nominal Speed:
                  .col.col-xs-7
                    .form-control-static {{app.pump.diameter}} {{app.units.diameter.label}} @ {{app.pump.speed}} rpm


            .row(ng-show="app.motor_method_required()")
                
                .form-group
                  .col.col-xs-5
                    label Motor performance method:
                  .col.col-xs-7
                    .form-control-static {{app.pump.motor_method == "tested" ? "Tested (water to wire)" : "Calculated"}}
            .row 
                .form-group
                  .col.col-xs-5
                    label PEI calculation method:
                  .col.col-xs-7
                    .form-control-static: strong {{app.section_label()}}
            hr 

            .row
                .form-group
                  .col.col-xs-5
                    label.text-primary Can the pump be tested at 120% of BEP flow?
                    +help(help.bep120)
                  .col.col-xs-7
                    div.radio
                      label.radio-inline
                        input(type="radio", name="pump[load120]", ng-model="app.pump.load120", ng-value="true", value="true") 
                        | Yes (75% / 100% / 110% load points)
                    div.radio
                      label.radio-inline
                        input(type="radio", name="pump[load120]", ng-model="app.pump.load120", ng-value="false", value="false") 
                        | No (65% / 90% / 100% load points)

            hr
            .row
               .col.col-xs-12
                .table-responsive
                 table.table
                   thead
                     tr
                       th.col-label 
                         | Representative Values at Nominal Speed of Rotation
                         +help(help.rep_nominal_speed)
                       th {{app.pump.load120 ? "@ 75% BEP" : "@ 60% BEP"}}
                       th {{app.pump.load120 ? "@ 100% BEP" : "@ 90% BEP"}}
                       th {{app.pump.load120 ? "@ 110% BEP" : "@ 100% BEP"}}
                       th(ng-show="app.bep120_visible()") @ 120% BEP
                    tbody
                      tr(ng-show="app.pump.load120")
                       td.col-label Rate of flow ({{app.units.flow.label}})
                       td: input.form-control(type="number", ng-value="(app.pump.flow.bep100*0.75).toFixed(2)", name="pump[flow][bep75]", readonly)
                       td: input.form-control(type="number", ng-model="app.pump.flow.bep100", name="pump[flow][bep100]")
                       td: input.form-control(type="number", ng-value="(app.pump.flow.bep100*1.1).toFixed(2)", name="pump[flow][bep110]", readonly)
                       td(ng-show="app.bep120_visible()") 
                      tr(ng-hide="app.pump.load120")
                       td.col-label Rate of flow ({{app.units.flow.label}})
                       td: input.form-control(type="number", ng-value="(app.pump.flow.bep100*0.60).toFixed(2)", name="pump[flow][bep75]", readonly)
                       td: input.form-control(type="number", ng-value="(app.pump.flow.bep100*0.90).toFixed(2)", name="pump[flow][bep100]", readonly)
                       td: input.form-control(type="number", ng-model="app.pump.flow.bep100", name="pump[flow][bep110]")
                       td(ng-show="app.bep120_visible()") 
                      tr
                       td.col-label Head ({{app.units.head.label}}) 
                       td: input.form-control(type="number", ng-model="app.pump.head.bep75", name="pump[head][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.head.bep100", name="pump[head][bep100]")
                       td: input.form-control(type="number", ng-model="app.pump.head.bep110", name="pump[head][bep110]")
                       td(ng-show="app.bep120_visible()") 
                     tr(ng-show="app.driver_input_visible()")
                       td.col-label Driver Input Power ({{app.units.power.label}})
                       td: input.form-control(type="number", ng-model="app.pump.driver_input_power.bep75", name="pump[driver_input_power][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.driver_input_power.bep100", name="pump[driver_input_power][bep100]")
                       td: input.form-control(type="number", ng-model="app.pump.driver_input_power.bep110", name="pump[driver_input_power][bep110]")
                       td(ng-show="app.bep120_visible()") 
                     tr(ng-show="app.pump_power_visible()")
                       td.col-label Pump Input Power ({{app.units.power.label}})
                       td: input.form-control(type="number", ng-model="app.pump.pump_input_power.bep75", name="pump[pump_input_power][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.pump_input_power.bep100", name="pump[pump_input_power][bep100]")
                       td: input.form-control(type="number", ng-model="app.pump.pump_input_power.bep110", name="pump[pump_input_power][bep110]")
                       td(ng-show="app.bep120_visible()"): input.form-control(type="number", ng-model="app.pump.pump_input_power.bep120", name="pump[pump_input_power][bep120]")
                    
                     
                
        



            .row(ng-show="app.control_power_visible()")
              .table-responsive
               .col.col-md-6
                 table.table
                   thead
                     tr
                       th.col-label @ %BEP 
                       th Control power input ({{app.units.power.label}})
                       
                    tbody
                     tr
                       td 25% BEP
                       td: input.form-control(type="number", ng-model="app.pump.control_power_input.bep25", name="pump[control_power_input][bep25]")
                     tr
                       td 50% BEP
                       td: input.form-control(type="number", ng-model="app.pump.control_power_input.bep50", name="pump[control_power_input][bep50]")
                     tr
                       td 75% BEP
                       td: input.form-control(type="number", ng-model="app.pump.control_power_input.bep75", name="pump[control_power_input][bep75]")
                     tr
                       td 100% BEP
                       td: input.form-control(type="number", ng-model="app.pump.control_power_input.bep100", name="pump[control_power_input][bep100]")
                      






            .row(ng-show="app.measured_visible()")
              .table-responsive
               .col.col-xs-12
                 table.table
                   thead
                     tr
                       th.col-label Measured value @ variable load
                       th @ 25% BEP target
                       th @ 50% BEP target
                       th @ 75% BEP target
                       th @ 100% BEP target
                    tbody
                     tr
                       td.col-label Flow rate ({{app.units.flow.label}})
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_flow_input.bep25", name="pump[measured_control_flow_input][bep25]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_flow_input.bep50", name="pump[measured_control_flow_input][bep50]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_flow_input.bep75", name="pump[measured_control_flow_input][bep75]")
                       td: input.form-control(type="number", ng-value="app.pump.flow.bep100", name="pump[measured_control_flow_input][bep100]", readonly)
                      tr
                       td.col-label Head ({{app.units.head.label}}) 
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_head_input.bep25", name="pump[measured_control_head_input][bep25]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_head_input.bep50", name="pump[measured_control_head_input][bep50]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_head_input.bep75", name="pump[measured_control_head_input][bep75]")
                       td: input.form-control(type="number", ng-value="app.pump.head.bep100", name="pump[measured_control_head_input][bep100]", readonly)
                     tr
                       td.col-label Control Power input ({{app.units.power.label}})
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_power_input.bep25", name="pump[measured_control_power_input][bep25]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_power_input.bep50", name="pump[measured_control_power_input][bep50]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_power_input.bep75", name="pump[measured_control_power_input][bep75]")
                       td: input.form-control(type="number", ng-model="app.pump.measured_control_power_input.bep100", name="pump[measured_control_power_input][bep100]")


            .row(ng-show="!app.pump.auto")
              hr
              .form-group
               .col.col-xs-6.col-sm-3
                 label.text-danger 
                    | Please enter the PEI
                    sub(ng-show="app.pump.section=='3' || app.pump.section=='4' || app.pump.section=='5'") CL 
                    sub(ng-hide="app.pump.section=='3' || app.pump.section=='4' || app.pump.section=='5'") VL 
                    | :  
                    +help(help.pei_entry)
               .col.col-xs-6.col-sm-3
                    input.form-control(ng-model="app.pump.pei", name="pump[pei]", type="number")
           
            hr
            .row
               .col.col-xs-10
                  button(type="button", ng-click="app.go2Options(true)").btn.btn-default Back
                  button(type="button", ng-disabled="app.data_missing()", ng-click="app.go2Results()").btn.btn-danger.btn-space Calculate {{app.calculatorText()}}
                  
               .col.col-xs-2
                  a(href="#" ng-click="app.go2Configuration(true)") Start over

        if (er)
          .panel-body(ng-show="app.step=='results'")
            .row(ng-show="app.calc_errors")
              .col.col-xs-12
                p(ng-repeat="erro in app.calc_errors").alert.alert-danger
                   {{erro}}
            .row(ng-hide="app.calc_errors")
              .col.col-sm-6.text-center
                h4 Pump Energy Index
                p.pei_display {{app.pump.pei | number:2}}
              .col.col-sm-6.text-center
                h4 Energy Rating
                p.er_display {{app.pump.energy_rating}}
            .row(ng-show="app.basic_collide")
              .col.col-xs-12
                .alert.alert-danger {{app.basic_collide}}
            .row(ng-show="app.individual_collide")
              .col.col-xs-12
                .alert.alert-danger {{app.individual_collide}}
            .row
              .col.col-xs-7
                  button(type="button", ng-click="app.go2Data(true)").btn.btn-default.btn-space Back
              .col.col-xs-5
                  button(type="button", ng-hide="app.calc_errors || app.basic_collide || app.individual_collide", ng-click="app.submitListing(false)").btn.btn-default.btn-space Save pump 
                  button(type="button", ng-hide="app.calc_errors || app.basic_collide || app.individual_collide", ng-click="app.submitListing(true)").btn.btn-danger.btn-space Save and Activate pump
            
        else
          .panel-body(ng-show="app.step=='results'")
            .row(ng-show="app.calc_errors")
              .col.col-xs-12
                p(ng-repeat="erro in app.calc_errors").alert.alert-danger
                   {{erro}}
            .row(ng-hide="app.calc_errors")
              .col.col-sm-6.text-center
                h4 Pump Energy Index
                p.pei_display {{app.pump.pei | number:2}}
              .col.col-sm-6.text-center
                h4 Energy Rating
                p.er_display {{app.pump.energy_rating}}
            
            .row
               .col.col-xs-6
                  button(type="button", ng-click="app.go2Data(true)").btn.btn-default.btn-space Back
                  
               .col.col-xs-6
                .pull-right
                  .btn-group
                    button(type="button", data-toggle="dropdown").btn.btn-primary.dropdown-toggle 
                      .glyphicon.glyphicon-download-alt 
                      span.btn-space Download
                      span.btn-space.caret
                    us.dropdown-menu
                      li: a(href="#") Download in DOE format
                      li: a(href="#") Download for HI Energy Rating Program
                  a(href="#" ng-click="app.go2Configuration(true)", style="margin-left:10px;") Start over
               
            .row
              .col.col-xs-12
                .help-block.pull-right Download buttons not operational in MVP...