extends layout
include ../common/pump_page
include ../common/circulators

block nav
     +navigation("pump")
block script
    script.
        Vue.component('pei-label', {
          props: ['value'],
          template: '<p><span>Circulator Energy Index</span><br/><span class="pei_display"><pei :value="value"/></span></p>'
        });
        Vue.component('er-label', {
          props: ['value'],
          template: '<p><span>xEnergy Rating</span><br/><span class="er_display"><energy-rating :value="value"/></span></p>'
        });
        Vue.component('cee_tier', {
          props: ['value'],
          template: '<p><span class="cee_tier">{{ value }}</span></p>'
        });
        new Vue({
          el: '#vue',
          data: {
            pump: null,
            participant: null,
            user: null,
            units: null
          },

          mounted: function () {
            this.units = $('#vue').data('units');
            this.participant = $('#vue').data('participant');
            this.user = $('#vue').data('user');
            this.pump = $('#vue').data('pump');
          },

          

          methods: {
            dual_cm: function() {
              if ( this.pump ) {
                return  this.pump.most && this.pump.most.control_method;
              }
            }
          }
        });
block content
 div
    +vue_circulator_components()
    .container#vue(data-pump=(JSON.stringify(pump)), data-units=(JSON.stringify(units)), data-user=(JSON.stringify(user)), data-participant=(JSON.stringify(participant)))
      .panel.panel-default
        .panel-heading 
          .heading
           
            img(src="/images/"+i18n.t("hi_rating_logo", {lng: page_lang}), width="600").hidden-xs
            img(src="/images/"+i18n.t("hi_rating_logo", {lng: page_lang}), style="width:80%").hidden-md.hidden-lg.hidden-sm
            h2 #{pump.brand} #{pump.brand ? ' / ' : ''} #{pump.basic_model} #{pump.manufacturer_model}
        .panel-body(v-if='pump')
          .row
           .col.col-sm-5.text-center
            .row
              .col.col-sm-6.text-center
                p(style="line-height:normal;")
                  span #{i18n.t("circulator_energy_index",{lng:page_lang})}<br/>
                  span.pei_display: pei(:value='pump.least.pei')
            
              .col.col-sm-6.text-center
                p(style="line-height:normal;")
                  span #{i18n.t("energy_rating",{lng:page_lang})}<br/>
                  span.er_display: energy-rating(:value='pump.least.energy_rating')
                  <br>
                  span.cee_tier #{pump.cee_tier}
            .row
              .col.text-center(style='margin-bottom:2rem;')
                img(class="img-fluid", style="width:100%;height:auto;max-width:min-content;", src="/images/"+pump.type.toLowerCase()+".png") 
           .col.col-sm-7
            circulator-details(:pump='pump', :units='units')
          .row
            .col
              circulator-data-details(:pump='pump', :units='units')  
      .panel.panel-default
        .panel-heading 
          h1 #{i18n.t("energy_rating_label",{lng:page_lang})}
        .panel-body
          circulator-label(:pump='pump', :public='true')