extends layout

block nav
     +navigation("portal")

block content
  
  .container.entry(ng-controller="ERController as app")
    .panel.pandel-default
      .panel-heading
        .row.hidden-xs
          .col.col-xs-12
            .hi
              img(height="100", src="/images/hydraulic-institute-logo.png")
            
        

        .row.visible-xs-block
           .col.col-xs-3
             .hi-mobile
               img(src="/images/logo-big.png")
           .col.col-xs-9
            .er-mobile Energy Ratings
            
      .panel-body
        

        ul.nav.nav-tabs
            li(class=(target != "register" ? "active" : ""))
              a(data-toggle="tab", href="#login") Sign in
            li(class=(target == "register" ? "active" : ""))
              a(data-toggle="tab", href="#register") Create an account
        
        .tab-content
           .tab-pane#login(class=(target != "register" ? "active" : ""))
              .login
                 form(method="post" action="/login")
                        .form-group
                            label(for="email") Email:
                            input.form-control(type="email", name="email", value =email)
                        .form-group
                            label(for="password") Password:
                            input.form-control(type="password", name="password")
                        button.btn.btn-primary(type="submit") Login
                        if messages.loginMessage
                          .alert.alert-warning.solo #{messages.loginMessage}
                        a(href="/password").pull-right Forgot password
           .tab-pane#register(class=(target == "register" ? "active" : ""))
              .register
            
               form(method="post", action="register")
                .row
                    .col.col-md-12
                        if messages.registrationMessage
                          .alert.alert-danger #{messages.registrationMessage}
                fieldset
                    legend Organization information
                .row
                  .col.col-md-12
                    .form-group
                        label(for="user.participant.name") Organization Name:
                        input.form-control(type="text", name="participant[name]" value=participant? participant.name : null)
                        .help-block Please enter your organization's full legal name.  All Energy Rating labels and listings will contain this value.
                        .help-block After you register, you will be able to enter additional information such as your organization's mailing address and contact information.
                
                fieldset
                    legend Initial account / user
                .row
                    .col.col-md-6
                        .form-group
                            label(for="user.name.first") First Name:
                            input.form-control(type="text", name="user[name][first]" value=user && user.name ? user.name.first : null)
                    .col.col-md-6
                        .form-group
                            label(for="user.name.last") Last Name:
                            input.form-control(type="text", name="user[name][last]" value=user && user.name ? user.name.last : null)
                .row
                    .col.col-md-6
                        .form-group
                            label(for="user.email") Email:
                            input.form-control(type="email", name="user[email]" value=user ? user.email : null)
                            .help-block This will be used as your username as well.
                .row
                    .col.col-md-6
                        .form-group
                            label(for="user.password") Password:
                            input.form-control(type="password", name="user[password]")
                    .col.col-md-6
                        .form-group
                            label(for="pswdconfirm") Confirm Password:
                            input.form-control(type="password", name="pswdconfirm")
                .row
                    .col.col-md-12
                        .help-block 
                            | Please note that you should only register if your organization does not already have
                            | an account with us.  If your organization has already registered, please contact 
                            | the primary account holder.  Your
                            | organization's primary account holder can create a personal login for you.
                .row
                    .col.col-md-6
                        button.btn.btn-primary(type="submit") Register
                    
                