extends layout


block content
    .ratings-bar
      .pull-left
        a(href="/ratings") back to search
      .pull-right
        a(href="/portal") Energy Rating Program Portal
    .container
      
      .panel.panel-default.rating_panel
        .panel-heading 
          .heading
           
           img(src="/images/hydraulic-institute-logo.png", width="500").hidden-xs
           img(src="/images/hydraulic-institute-logo.png", width="300").hidden-md.hidden-lg.hidden-sm
             
           h2 #{pump.basic_model}
           h4 #{pump.participant}
            
        .panel-body
          .row
           .col.col-sm-5.text-center
             img(src="/images/doe/#{pump_drawing}")
           .col.col-sm-7
                .row 
                    .form-group
                        .col.col-xs-5
                            label Vendor / Rater:
                        .col.col-xs-7
                            .form-control-static #{pump.participant}
                .row 
                    .form-group
                        .col.col-xs-5
                            label HI Rating ID:
                        .col.col-xs-7
                            .form-control-static #{pump.rating_id}
                .row 
                    .form-group
                        .col.col-xs-5
                            label Basic model designation:
                        .col.col-xs-7
                            .form-control-static #{pump.basic_model}
                .row 
                    .form-group
                        .col.col-xs-5
                            label DOE product category:
                        .col.col-xs-7
                            .form-control-static #{pump.doe}
                .row 
                    .form-group
                        .col.col-xs-5
                            label HI approved laboratory:
                        .col.col-xs-7
                            .form-control-static #{pump.laboratory}
                .row 
                    .form-group
                        .col.col-xs-5
                            label Full impeller diameter (in):
                        .col.col-xs-7
                            .form-control-static #{pump.diameter}
                .row 
                    .form-group
                        .col.col-xs-5
                            label Nominal speed (rpm):
                        .col.col-xs-7
                            .form-control-static #{pump.speed}
                .row 
                    .form-group
                        .col.col-xs-5
                            label BEP flow rate (gpm):
                        .col.col-xs-7
                            .form-control-static #{pump.flow.bep100}
                .row 
                    .form-group
                        .col.col-xs-5
                            label BEP head (feet):
                        .col.col-xs-7
                            .form-control-static #{pump.head.bep100}

                .row 
                    .form-group
                        .col.col-xs-5
                            label Rated motor power (hp):
                        .col.col-xs-7
                            .form-control-static #{pump.motor_power_rated}

                
      
      .panel.panel-default
        .panel-heading 
            h1 Energy Ratings
        .panel-body
           
           .row
            .col.col-lg-4.text-center
              h4 Pump Energy Index
              p.pei_display #{pump.pei}
              p.pei_baseline Baseline - #{pump.pei_baseline}
            .col.col-lg-4.text-center
              h4 Energy Rating
              p.er_display #{pump.energy_rating}
            .col.col-lg-4.text-center
              h4 Energy Savings
              p.er_savings_display #{pump.energy_savings} HP
           .row.solo
            .col.col-lg-12.text-center
              object(id="label_svg", data="/labels/#{participant._id}/#{pump._id}/svg", type="image/svg+xml")
           .row.solo
            .col.col-xs-12
             .alert.alert-info These calculations are samples only - actual results will appear when the PEI calculator is fully implemented and available
          
   