extends layout

include ../common/pump_page

block nav
     +navigation("pump")

block content
    .container
      
      .panel.panel-default.rating_panel
        .panel-heading 
          .heading
           
           img(src="/images/hydraulic-institute-logo.png", width="500").hidden-xs
           img(src="/images/hydraulic-institute-logo.png", style="width:80%").hidden-md.hidden-lg.hidden-sm
             
           h2 #{pump.basic_model}
           h4 #{pump.participant}
            
        .panel-body
          .row
           .col.col-sm-5.text-center
             img(src="/images/doe/#{pump_drawing}").hidden-xs
             img(src="/images/doe/#{pump_drawing}", style="width:95%").hidden-md.hidden-lg.hidden-sm
           .col.col-sm-7
             +pump_page_info(pump)

                
      
      .panel.panel-default
        .panel-heading 
            h1 Energy Ratings
        .panel-body
           
           .row
            .col.col-sm-6.text-center
              h4 Pump Energy Index
              p.pei_display #{pump.pei.toFixed(2)}
              p.pei_baseline Baseline:  #{pump.pei_baseline.toFixed(2)}
            .col.col-sm-6.text-center
              h4 Energy Rating
              p.er_display #{pump.energy_rating}
           .row.solo.hidden-xs
            .col.col-lg-12.text-center
              object(id="label_svg", data="/labels/#{participant._id}/#{pump._id}/svg", type="image/svg+xml")
           .row.solo.hidden-sm.hidden-md.hidden-lg
            .col.col-lg-12.text-center
              object(id="label_svg", style="width:90%", data="/labels/#{participant._id}/#{pump._id}/svg", type="image/svg+xml")
           
           .row.solo
            .col.col-xs-12
             .alert.alert-info These calculations are samples only - actual results will appear when the PEI calculator is fully implemented and available
          
   