extends layout

include ../common/pump_page

block nav
     +navigation("pump")

block content
    .container
      
      .panel.panel-default.rating_panel
        .panel-heading 
          .heading
           img(src="/images/"+i18n.t("hi_rating_logo", {lng: page_lang}), width="600").hidden-xs
           img(src="/images/"+i18n.t("hi_rating_logo", {lng: page_lang}), style="width:80%").hidden-md.hidden-lg.hidden-sm
             
           h2 #{pump.brand} #{pump.brand ? ' / ' : ''} #{pump.basic_model}
           h4 #{pump.participant.name}
            
        .panel-body
          .row

           .col.col-sm-5.text-center
            .row
              .col.col-sm-6.text-center
                h4(style="margin-bottom:0px;") 
                  | #{i18n.t("pei",{lng:page_lang})}
                  sub #{pump.configuration == 'bare' || pump.configuration == 'pump_motor' ? "CL" : "VL"}
                p.pei_display(style="margin-bottom:0px;line-height:normal;") #{pump.pei.toFixed(2)}
                p.pei_baseline #{i18n.t("baseline",{lng:page_lang})}:  #{pump.pei_baseline.toFixed(2)}
                
              .col.col-sm-6.text-center
                h4(style="margin-bottom:0px;") #{i18n.t("energy_rating",{lng:page_lang})}
                p.er_display(style="margin-bottom:0px;line-height:normal;") #{pump.energy_rating}
                if pump.cee_tier
                  p.cee_tier CEE: #{i18n.t("cee_tier",{lng:page_lang})} #{pump.cee_tier}
            .row
              .col.col-sm-12.text-center
               img(src="/images/doe/#{pump_drawing}").hidden-xs
               img(src="/images/doe/#{pump_drawing}", style="width:90%").hidden-md.hidden-lg.hidden-sm
           .col.col-sm-7
             +pump_page_info(pump,page_lang)

                
      
      .panel.panel-default
        .panel-heading 
            h1 #{i18n.t("energy_rating_label",{lng:page_lang})}
        .panel-body
           .row.solo
            .col.col-lg-12.text-center
              img(src="/labels/#{participant._id}/#{pump._id}/png", style="width:100%; max-width:600px;")

      if pump.revisions && pump.revisions.length > 1
        .panel.panel-default
          .panel-heading
            h2 #{i18n.t("data_corrections_revisions",{lng:page_lang})}
          .panel-body
            ol 
              each revision in pump.revisions
               if revision.correction
                li
                  - var temp_moment = moment(revision.date);
                  span #{i18n.t("pump_data_updated",{lng:page_lang})} - #{temp_moment.locale(page_lang).format("ll")}.
            
   