include common.pug

doctype xml
svg(id="label_svg", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", version="1.1", width="620", height="390", preserveAspectRatio="xMinYMin meet", viewBox="0 0 390 390")

    defs
     include fonts.pug
    
    -var tt = 135;
    -var lh = 18;
    -var left_edge = 30;
    -var right_edge = 585;
    -var middle = left_edge + (right_edge-left_edge)/2;
    -var min_er = left_edge + 30;
    -var max_er = right_edge - 30;
    -var q1_er = min_er + (max_er-min_er)/4;
    -var q3_er = min_er + 3*(max_er-min_er)/4;
    -var er_line = 320;
    -var er_tick = 20;
    -var tick_scale = 2.25;
    -var er_rated = min_er + er/max * (max_er-min_er);
    -var er_rated_tick = Math.min(max_er, er_rated);
    -var er_most_consumptive = min_er + er_most/max * (max_er-min_er);
    -var m_anchor = Math.abs(er-er_most) < 20 ? "end" : "middle";
    -var l_anchor = "middle";//Math.abs(er-er_most) < 20 ? "start" : "middle";
    rect(x="0", y="0", rx="0", ry="0", width="620", height="390", style="fill:#FFFFFF;;stroke: #222222;;stroke-width:1;")
    image(x="310", y="15", height="100px", width="285", xlink:href=small_logo)
    text(x=left_edge, y="60", style="font-family: 'Arimo', Helvetica; font-weight:bold", font-size="30", text-anchor="start", fill="black") Circulator Pump
    text(x=left_edge, y="95", style="font-family: 'Arimo', Helvetica;", font-size="24", text-anchor="start", fill="black") CEI
    //-text(x=left_edge+40, y="98", style="font-family: 'Arimo', Helvetica;", font-size="10", text-anchor="start", fill="black") CIRC
    text(x=left_edge+40, y="95", style="font-family: 'Arimo', Helvetica;", font-size="24", text-anchor="start", fill="black") :  #{pei}
    text(x=left_edge+120, y="95", style="font-family: 'Arimo', Helvetica;", font-size="24", text-anchor="start", fill="black") (ER #{er})
    text(x=left_edge, y=130, style="font-family: 'Arimo'; ", font-size="24", text-anchor="start", fill="black") WAIP: #{waip}
    text(x=right_edge, y=130, style="font-family: 'Arimo'; ", font-size="24", text-anchor="end", fill="black") #{basic_model}

    
    rect(x=left_edge, y="160", rx="0", ry="0", width="555", height="210", style="fill:none;stroke: #000000;stroke-width:1;")
    line(x1=min_er, y1=er_line-er_tick, x2=min_er, y2=er_line+er_tick, stroke-width="3", stroke="#000000")
    line(x1=max_er, y1=er_line-er_tick, x2=max_er, y2=er_line+er_tick, stroke-width="3", stroke="#000000")
    line(x1=middle, y1=er_line, x2=middle, y2=er_line+er_tick, stroke-width="3", stroke="#000000")
    line(x1=q1_er, y1=er_line, x2=q1_er, y2=er_line+er_tick, stroke-width="3", stroke="#000000")
    line(x1=q3_er, y1=er_line, x2=q3_er, y2=er_line+er_tick, stroke-width="3", stroke="#000000")
    line(x1=min_er, y1=er_line, x2=max_er, y2=er_line, stroke-width="3", stroke="#000000")
    text(x=middle, y=160+2*lh, style="font-family: 'Arimo', Helvetica; font-weight:bold", font-size="25", text-anchor="middle", fill="black") ENERGY RATING
    text(x=min_er, y=er_line+er_tick+lh, style="font-family: 'Arimo', Helvetica; ", font-size="16", text-anchor="start", fill="black") Most Consumptive
    text(x=max_er, y=er_line+er_tick+lh, style="font-family: 'Arimo', Helvetica; ", font-size="16", text-anchor="end", fill="black") Least Consumptive
    text(x=middle, y=er_line+er_tick+lh, style="font-family: 'Arimo', Helvetica; ", font-size="16", text-anchor="middle", fill="black") RANGE
    text(x=er_rated, y=er_line- tick_scale*1.2*lh,style="font-family: 'Arimo', Helvetica; font-weight:bold", font-size="34", text-anchor=l_anchor, fill="black") #{er}
    - var hw = 10;
    - var mps = `${er_rated_tick}, ${(er_line- er_tick)} ${er_rated_tick-hw}, ${er_line-tick_scale*lh} ${er_rated_tick+hw}, ${er_line-tick_scale*lh}`;    
    polygon(fill="#000000", stroke="#000000", stroke-width="1", points=mps)
    if dual
        - var mps = `${er_most_consumptive}, ${(er_line- er_tick)} ${er_most_consumptive-hw}, ${er_line-tick_scale*lh} ${er_most_consumptive+hw}, ${er_line-tick_scale*lh}`;    
        polygon(fill="#000000", stroke="#000000", stroke-width="1", points=mps)
        text(x=er_most_consumptive, y=er_line- tick_scale*1.2*lh,style="font-family: 'Arimo', Helvetica; font-weight:bold", font-size="34", text-anchor=m_anchor, fill="black") #{er_most}
        rect(x=Math.min(er_rated_tick, er_most_consumptive), y=er_line-er_tick+3, rx="0", ry="0", width=Math.abs(er_rated_tick-er_most_consumptive), height=er_tick-3, style="fill:#000000;stroke: #000000;stroke-width:1;")
    
