
mixin footer (left, right, y)
    text(x=left, y=y, style="font-family: 'Arimo';", font-size="16", text-anchor="start", fill="black")  #{rating_id}
    text(x="308", y=y, style="font-family: 'Arimo';", font-size="16", text-anchor="middle", fill="black") er.pumps.org
    text(x=right, y=y, style="font-family: 'Arimo';", font-size="16", text-anchor="end", fill="black") #{date}