
mixin footer (left, right, y, size)
    - var fsize = size || 16
    text(x=left, y=y, style="font-family: 'Helvetica';", font-size=fsize, text-anchor="start", fill="black")  #{rating_id}
    text(x="308", y=y, style="font-family: 'Helvetica';", font-size=fsize, text-anchor="middle", fill="black") er.pumps.org
    text(x=right, y=y, style="font-family: 'Helvetica';", font-size=fsize, text-anchor="end", fill="black") #{date}