extends layout

include ../common/labels
include ../common/circulators

block nav
     +navigation("upload")
block content
  div.ng-cloak(ng-app='ERParticipantApp')

    .container
      if succeeded && succeeded.length > 0
       .panel.panel-default
        .panel-heading 
            h1 Pumps ready for input
            p.text-warning Note, these pumps will not be listed or saved until you confirm below

        .panel-body
           table.table.table-striped
              thead
                tr
                  th Row #
                  th 
                    span Basic / Manufacturer
                    br
                    span Model #
                  th Type
                  th Control Method
                  th CEI
                  th Energy Rating
              tbody
               each success in succeeded
                 tr
                  td #{success.template_row}
                  td 
                    span #{success.basic_model}
                    br
                    span #{success.manufacturer_model}
                    if ( success.alternative_part_number)
                      br
                      span #{success.alternative_part_number}
                    
                  td #{success.type}
                  
                  if success.most
                    td 
                      b Least Consumptive: 
                      +control_method(success.least.control_method)
                      br
                      b Most Consumptive:
                      +control_method(success.most.control_method)
                    td 
                      span #{success.least.pei.toFixed(2)}
                      if (success.least.pei_validity != 'VALID')
                        span (#{success.least.pei_validity})
                      br
                      span #{success.most.pei.toFixed(2)}
                      if (success.most.pei_validity != 'VALID')
                        span (#{success.most.pei_validity})

                    td 
                      span #{success.least.energy_rating.toFixed(0)}
                      br
                      span #{success.most.energy_rating.toFixed(0)}
                  else
                    td 
                      +control_method(success.least.control_method)
                    td 
                      span #{success.least.pei.toFixed(2)}
                      if (success.least.pei_validity != 'VALID')
                        span (#{success.least.pei_validity})
                    td #{success.least.energy_rating.toFixed(0)}
                 
           form(action="save_upload", method="post")
            button.btn.btn-primary(type="submit") Add pumps
            .checkbox
              label  
               input(type="checkbox", name="list_pumps") 
               .text-info List pumps when added.  If left unchecked, pumps will be added, but they will be in the "pending" state until you activate them individually.  Pending pumps are not seen by the public users.
            input(type="hidden", name="pumps", value="#{JSON.stringify(succeeded)}")
            
      if failed && failed.length > 0
        .panel.panel-warning
          .panel-heading
            h1 Pumps that cannot be imported
            p.text-warning The following pumps cannot be imported as they are currently listed in this template.  They will be ignored.
          .panel-body
            table.table.table-striped
              thead
                tr
                  th Row #
                  th 
                    span Basic / Manufacturer
                    br
                    span Model #
                  th Type
                  th Control Method
                  th Failure reasons
              tbody
               each fail in failed
                 tr
                   td #{fail.template_row}
                   td 
                    span #{fail.basic_model}
                    br
                    span #{fail.manufacturer_model}
                   td #{fail.type}
                   if fail.most
                    td 
                      b Least Consumptive: 
                      if fail.least
                       +control_method(fail.least.control_method)
                      br
                      b Most Consumptive:
                      +control_method(fail.most.control_method)
                   else
                    td 
                      if fail.least
                        +control_method(fail.least.control_method)
                   td #{fail.failure}
      if (!succeeded || succeeded.length == 0) && (!failed || failed.length == 0)
        .panel.panel-warning
          .panel-body
             p.alert.alert-danger No pumps found in template.
            
