extends layout
include ../common/user_list

mixin warning(field, message)
  p(ng-show="settingsForm."+field+".$invalid && !settingsForm."+field+".$pristine").text-danger #{message}

block nav
    +navigation("home")
    
block content
  div.ng-cloak(ng-app='ERParticipantApp')
    .container(ng-controller="ERParticipantController as app",ng-init="app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}")

        form(name="settingsForm",ng-submit="app.saveParticipant(settingsForm.$valid)", novalidate)
             .panel.panel-default
               .panel-heading
                    .pull-right(ng-show='app.user.participant_admin')
                        a(href="#", ng-hide="vm.edit_settings", ng-click="vm.edit_settings = true") Edit participant settings
                        button.btn.btn-primary(type="submit", ng-show="vm.edit_settings", ng-disabled="settingsForm.$invalid") Save changes
                        a.btn.btn-default.btn-space(type="button", href="javascript:window.location.reload(true)", ng-show="vm.edit_settings", ) Cancel
                    h4 Participant Profile

               .panel-body(ng-hide="vm.edit_settings")     
                   h1 {{app.participant.name}}
                   fieldset
                     legend Mailing Address
                   address
                     strong {{app.participant.name}}
                     br 
                     | {{app.participant.address.street}}
                     br 
                     | {{app.participant.address.street2}}
                     br 
                     | {{app.participant.address.city}}, {{app.participant.address.state}} {{app.participant.address.zip}}
                     br 
                     | {{app.participant.address.country}}
                   fieldset
                     legend Contact information
                   address
                     strong {{app.participant.contact.name.first}} {{app.participant.contact.name.last}}
                     br
                     a(href="mailto:{{app.participant.contact.email}}") {{app.participant.contact.email}}
                     br
                     a(href="tel:{{app.participant.contact.phone}}") {{app.participant.contact.phone}}
          

               .panel-body(ng-show="vm.edit_settings")
                 fieldset
                   legend Organization Name
                 .row 
                   .col.col-md-12
                     .form-group
                        input.form-control(type="text", name="name", ng-model="app.participant.name", required)
                        +warning("name", "Organization name is required")
                        .help-block Please use your organization's full legal name.  All Energy Rating labels and listings will contain this value.
                 fieldset
                   legend Contact Person
                 .row
                    .col.col-md-6
                        .form-group
                            label First Name
                            input.form-control(type="text", name="firstName", ng-model="app.participant.contact.name.first", required)
                            +warning("firstName", "Contact's first name is required")
                    .col.col-md-6
                        .form-group
                            label Last Name
                            input.form-control(type="text", name="lastName", ng-model="app.participant.contact.name.last", required)
                            +warning("lastName", "Contact's last name is required")
                 .row
                    .col.col-md-6
                        .form-group
                            label Email Address
                            input.form-control(type="email", name="email", ng-model="app.participant.contact.email", required)
                            +warning("email", "Contact's email address is required")
                    .col.col-md-6
                        .form-group
                            label Phone
                            input.form-control(type="phone", name="phone", ng-model="app.participant.contact.phone", required)
                            +warning("phone", "Contact's phone number is required")
                 fieldset
                   legend Mailing address
                   
                 .row
                    .col.col-md-12
                        .form-group
                            label Street
                            input.form-control(type="text", name="street", ng-model="app.participant.address.street", required)
                            +warning("street", "Street address is required")
                 .row
                    .col.col-md-12
                        .form-group
                            label Street (second line)
                            input.form-control(type="text", name="street2", ng-model="app.participant.address.street2")
                 .row
                    .col.col-md-5
                        .form-group
                            label City
                            input.form-control(type="text", name="city", ng-model="app.participant.address.city", required)
                            +warning("city", "City is required")
                    .col.col-md-4
                        .form-group
                            label State / Province
                            input.form-control(type="text", name="state", ng-model="app.participant.address.state", required)
                            +warning("state", "State / Province / Region is required")
                    .col.col-md-3
                        .form-group
                            label Postal code
                            input.form-control(type="text", name="zip", ng-model="app.participant.address.zip", required)
                            +warning("zip", "Postal code / zip code is required")
                 .row
                    .col.col-md-5  
                      .form-group
                        label Country
                        input.form-control(type="text", name="country", ng-model="app.participant.address.country", required)
                        +warning("country", "Country is required")

            .panel(ng-show='app.user.participant_admin', ng-class="app.participant.subscription.status == 'Active' ? 'panel-default' : 'panel-warning'")
               .panel-heading
                    h4 Subscription level
               .panel-body
                    div(ng-show="app.participant.subscription.status == 'Expired' || app.participant.subscription.status == 'Unpaid'").text-danger
                     p Your account has expired or is unpaid.  Pumps you've added to the portal will remain on the portal, but they are no longer publically listed.  
                     p 
                        | Please contact the Hydraulic Institute Program Manager (
                        a(href="mailto:(#{ESTORE_ADMIN_EMAIL}") #{ESTORE_ADMIN_EMAIL}
                        | ) to renew your subscription.
                    div(ng-show="app.participant.subscription.status == 'No Account' || app.participant.subscription.status == 'Ready'")
                     p Your account has not been setup, so you are unable to list pumps yet.  The HI Program Manager will be in contact with your organization's purchasing department to coordinate account setup.  
                     p The program manager will specifically be contacting {{app.participant.purchasing.name}} at {{app.participant.purchasing.phone}} and/or {{app.participant.purchasing.email}}.  
                     p 
                       | Once your account is setup, please login to the portal again to start listing your pumps.  If you have any questions, please contact the Hydraulic Institute's Program Manager at (
                       a(href="mailto:(#{ESTORE_ADMIN_EMAIL}") #{ESTORE_ADMIN_EMAIL}
                       | ).
                    div(ng-show="app.participant.subscription.status == 'Active'")
                        h4 
                         | {{app.participant.pumps ? app.participant.pumps.length : 0}} 
                         span(ng-show="app.participant.subscription.pumps != 'U'") of {{app.participant.subscription.pumps}} available pump listings are being used.
                         span(ng-hide="app.participant.subscription.pumps != 'U'") pumps listed (Unlimited pumps allowed).
                        p 
                            | To update your subscription level, please contact the Hydraulic Institute's Program Manager at (
                            a(href="mailto:(#{ESTORE_ADMIN_EMAIL}") #{ESTORE_ADMIN_EMAIL}
                            | ).
                       
                    
        
       