extends layout


block nav
     +navigation("pumps")
block content
 div.ng-cloak(ng-app='ERParticipantApp')
    .container(ng-controller="ERParticipantController as app",ng-init="app.pump_search_query = #{JSON.stringify(pump_search_query)}; app.units = #{JSON.stringify(units)}; app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}")
      .modal.fade#delete(tabindex='-1', role='dialog' aria-labelledby='titleLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button(type='button', class='close' data-dismiss='modal' aria-hidden='hidden') &times;
              h4.modal-title#titleLabel Delete pump
            .modal-body
              p Are you sure you want to delete {{app.pump_to_delete.brand}} {{app.pump_to_delete.basic_model}} / {{app.pump_to_delete.individual_model}} from the ER portal?
              p.text-danger If you delete this pump, it's public page will no longer be available.  This is a permanent operation and cannot be undone.  
              p It's recommended to set this pump 'inactive' if you want to temporarily remove the listing.  You can do this by clicking on the pump and setting it to the inactive state at the bottom of the screen.
              p If you do delete this pump, all claims to ER for this model will need to cease within 30 days.
            .modal-footer
              div
                button.btn.btn-danger(type="button", data-dismiss='modal', ng-click="app.removePump(app.pump_to_delete)") Delete pump
                button.btn.btn-default(type='button' data-dismiss='modal') Dismiss


      .panel.panel-default
        .panel-heading 
            h1 Pump listings
        .panel-body
          .row(ng-show='app.user.participant_edit')
            if subscription_limit
              .col.col-xs-12
               .alert.alert-warning You have reached the maximum number of pump listings your account subscription allows.  If you delete pumps, please refresh your browser to begin adding pumps.
            if subscription_missing
              .col.col-xs-12
               .alert.alert-warning Your account is not active, you may not list pumps at this time.
            else 
              .col.col-xs-12
               unless subscription_limit
                .btn-group
                  button(type="button", data-toggle="dropdown").btn.btn-primary.dropdown-toggle 
                    .glyphicon.glyphicon-plus 
                    span.btn-space New Pump 
                    span.btn-space.caret
                  us.dropdown-menu
                      li: a(href="pumps/new") Create new pump listing using web form
                      li: a(href="pumps/upload") Upload new pump(s) with template
               a.btn.btn-default.btn-space(href="/participant/pumps/download") Download pumps
          .row.solo
           .col.col-xs-12
            .form-group
              .icon-addon.addon-lg
               input.form-control(id="search", ng-change="app.post_search_query();", ng-model="app.pump_search_query", placeholder="Filter by Rating ID / Basic model number / Individual model number.")
               label.glyphicon.glyphicon-search(for="search", title="Filter pumps", rel="tooltip")
          .row.solo
           .col.col-xs-12
            .table-responsive
              table.table.table-striped
                thead
                 tr 
                  th
                  th ID
                  th.hidden-xs Listing Date
                  th.hidden-xs Basic Model #
                  th Individual Model #
                  th.hidden-xs Configuration
                  th.hidden-xs DOE Pump Category
                  th.hidden-xs.hidden-sm Impeller (#{units.diameter.label})
                  th.hidden-xs.hidden-sm Nominal speed (rpm)
                  th.hidden-xs.hidden-sm Stages
                  th.hidden-xs PEI
                  th ER
                  th(ng-show='app.user.participant_edit')
                tbody
                 tr(ng-repeat="pump in app.pump_search_results() | orderBy:['basic_model','individual_model', 'listed']")
                  td
                    img(ng-show="pump.pending", height="25" width="25" ng-src="/images/pending.png")
                    img(ng-hide="pump.pending", height="25" width="25" ng-src="/images/{{pump.listed && pump.active_admin && !pump.pending ? 'active' : 'inactive'}}.png")
                  td {{pump.rating_id}}
                  td.hidden-xs {{pump.date | date:'mediumDate'}}
                  td.hidden-xs: a(href="pumps/{{pump._id}}") {{pump.basic_model}}
                  td {{pump.individual_model}}
                  td.hidden-xs {{app.getConfigLabel(pump.configuration)}}
                  td.hidden-xs {{pump.doe}}
                  td.hidden-xs.hidden-sm {{pump.diameter * app.units.diameter.factor | number:3}}
                  td.hidden-xs.hidden-sm {{pump.speed}}
                  td.hidden-xs.hidden-sm {{pump.stages}}
                  td.hidden-xs {{pump.pei | number:2}}
                  td {{pump.energy_rating}} 
                  
                  td(ng-show='app.user.participant_edit') 
                     button(ng-show="pump.pending", type="button", ng-click="app.confirmDeletePump(pump)").btn.btn-danger.btn-xs Delete

