extends layout
include ../common/pump_page

block script
  script(src="/scripts/media.js")

block nav
     +navigation("pump")

block content
 div(ng-app='ERParticipantApp')
    .container(ng-controller="ERParticipantController as app",ng-init="app.user= #{JSON.stringify(user)}; app.participant= #{JSON.stringify(participant)}")

      .panel.panel-default
        .panel-heading 
            h2 #{pump.brand} #{pump.brand ? ' / ' : ''} #{pump.basic_model} #{pump.individual_model}
            h2 #{(pump.diameter*units.diameter.factor).toFixed(3)} #{units.diameter.label} @ #{pump.speed} rpm
            .help-block This data is visible to the public.
        .panel-body
          .row
           .col.col-sm-5.text-center
             img(src="/images/doe/#{pump_drawing}").hidden-xs
             img(src="/images/doe/#{pump_drawing}", style="width:90%").hidden-md.hidden-lg.hidden-sm
             p.solo: a.btn.btn-danger(href="/participant/pumps/#{pump._id}/download") Download full data
           .col.col-sm-7
             +pump_page_info(pump)

                
      .panel.panel-default
        .panel-heading 
            h2 Load Point Data
            .help-block This data is not visible to the public, it is only visible to members of your organization.
        .panel-body
           table.table
            thead
              tr 
                th &nbsp;
                th #{pump.load120 ? "75% BEP" : "65% BEP"}
                th #{pump.load120 ? "100% BEP" : "90% BEP"}
                th #{pump.load120 ? "110% BEP" : "100% BEP"} 
            tbody
              tr
                td Flow (#{units.flow.label})
                td #{(pump.flow.bep75 * units.flow.factor).toFixed(2)}
                td #{(pump.flow.bep100 * units.flow.factor).toFixed(2)}
                td #{(pump.flow.bep110 * units.flow.factor).toFixed(2)}
              tr
                td Head (#{units.head.label})
                td #{(pump.head.bep75 * units.head.factor).toFixed(2)}
                td #{(pump.head.bep100 * units.head.factor).toFixed(2)}
                td #{(pump.head.bep110 * units.head.factor).toFixed(2)}
              if pump.driver_input_power.bep100
                tr
                  td Driver input power (#{units.power.label})
                  td #{(pump.driver_input_power.bep75 * units.power.factor).toFixed(2)}
                  td #{(pump.driver_input_power.bep100 * units.power.factor).toFixed(2)}
                  td #{(pump.driver_input_power.bep110 * units.power.factor).toFixed(2)}
        
           if pump.section == '6' || pump.section == '6a' || pump.section == '6b' || pump.section == '7'
            table.table
              thead
                tr
                  th &nbsp
                  th Control input power (#{units.power.label})
                  
              tbody
                tr
                 td 25% BEP
                 td #{(pump.control_power_input.bep25 * units.power.factor).toFixed(2)}
                tr
                 td 50% BEP
                 td #{(pump.control_power_input.bep50 * units.power.factor).toFixed(2)}
                tr
                 td 75% BEP
                 td #{(pump.control_power_input.bep75 * units.power.factor).toFixed(2)}
                tr
                 td 100% BEP
                 td #{(pump.control_power_input.bep100 * units.power.factor).toFixed(2)}

      .panel.panel-default
        .panel-heading 
            h2 Energy Ratings
            .help-block This data is visible to the public.
        .panel-body
           
           .row
            .col.col-sm-6.text-center
              h4 Pump Energy Index
              p.pei_display #{pump.pei.toFixed(2)}
              p.pei_baseline Baseline: #{pump.pei_baseline.toFixed(2)}
            .col.col-sm-6.text-center
              h4 Energy Rating
              p.er_display #{pump.energy_rating}
          
        

      .panel.panel-default
        .panel-heading 
            h2 Downloadable Media
        .panel-body
          
          .row.solo
            .col.col-xs-12.text-center(style="display:none")
              div(style="max-width:90%") !{label_svg}
              
          .row.solo
            .col.col-xs-12.text-center(style="display:none")
              div(style="max-width:90%") !{qr_svg}
              

          .row.solo
            .col.col-xs-12.text-center
              img(id="svg_rendered", style="width:100%; max-width:600px;")
              p 
               a#label_img_download(download="Energy Rating Label - #{pump.rating_id}.png") Download as PNG
               | &nbsp;&nbsp; - &nbsp;&nbsp; 
               a#label_svg_download(href="/labels/#{participant._id}/#{pump._id}/svg?download=true") Download as SVG 
          .row.solo
            .col.col-xs-12.text-center
              img(id="svg_qr_rendered", style="width:100%; max-width:600px;")
              p
               a#qr_img_download(download="Energy Rating QR - #{pump.rating_id}.png") Download as PNG
               | &nbsp;&nbsp; - &nbsp;&nbsp; 
               a#qr_svg_download(href="/labels/#{participant._id}/#{pump._id}/qr?download=true") Download as SVG 
              
          

             
      if user.participant_edit
       .panel.panel-default
        .panel-heading
          h2 Administrative controls
        .panel-body
         form(action="/participant/pumps/#{pump._id}", method="post")
          .row
           .col.col-xs-12
            
              .form-group
                label(style="margin-right:10px") Pump listing status:  
                input.switchBox(type="checkbox", name="listed", checked=(pump.listed), data-on-text="Active", data-off-text="Disabled")
                .help-block Disabled pumps listings are removed from the public energy rating registry, but can be re-activated at any time.

          .row
           .col.col-xs-12
             if !pump.active_admin
              .alert.alert-danger
                h3 This pump has been de-listed by a Hydraulic Institute Program Manager. 
                .form-group
                  label(style="margin-right:10px") Program manager note:  
                  p.form-static-control #{pump.note_admin}
          .row
            .col.col-xs-12
               button.btn.btn-danger(type="submit") Save changes