extends layout

include ../common/labels

block nav
     +navigation("upload")
block content
  div.ng-cloak(ng-app='ERParticipantApp')

    .container
      if succeeded && succeeded.length > 0
       .panel.panel-default
        .panel-heading 
            h1 Pumps ready for input
            p.text-warning Note, these pumps will not be listed or saved until you confirm below

        .panel-body
           table.table.table-striped
              thead
                tr
                  th Template row #
                  th Basic model number
                  th Individual model number
                  th Configuration
                  th PEI
                  th Energy Rating
                  th Activation issues
              tbody
               each success in succeeded
                 tr
                  td #{success.row}
                  td #{success.basic_model}
                  td #{success.individual_model}
                  td 
                    +configuration_label(success.configuration)
                  td #{success.pei}
                  td #{success.results.energy_rating}
                  td
                   if success.pending_reasons && success.pending_reasons.length > 0
                    each reason in success.pending_reasons
                     p.text-warning #{reason}
                   else
                    p.text-success Ready
                 
           form(action="save_upload", method="post")
            button.btn.btn-primary(type="submit") Add pumps
            .checkbox
              label  
               input(type="checkbox", name="list_pumps") 
               .text-info List pumps when added.  If left unchecked, pumps will be added, but they will be in the "pending" state until you activate them individually.  Pending pumps are not seen by the public users.
            input(type="hidden", name="pumps", value="#{JSON.stringify(succeeded)}")
            
      if failed && failed.length > 0
        .panel.panel-warning
          .panel-heading
            h1 Pumps that cannot be imported
            p.text-warning The following pumps cannot be imported as they are currently listed in this template.  They will be ignored.
          .panel-body
            table.table.table-striped
              thead
                tr
                  th Template row #
                  th Basic model number
                  th Individual model number
                  th Configuration
                  th Failure reasons
              tbody
               each fail in failed
                 tr
                   td #{fail.row}
                   td #{fail.basic_model}
                   td #{fail.individual_model}
                   td 
                    +configuration_label(fail.configuration)
                   td
                    each reason in fail.results.reasons
                     p.text-danger #{reason}

            
