extends layout


block nav
     +navigation("upload")
block content
  div.ng-cloak(ng-app='ERParticipantApp')

    .container
      .panel.panel-default
        .panel-heading 
            h1 Upload pump listings
        .panel-body
          .row
            .col.col-md-12
              h2 Step 1 - Populate spreadsheet template
          .row
            .col.col-md-12
              p.strong
               a(href="/participant/template") Download a template 
               | if you don't already have a spreadsheet template.
            
              
          .row
            .col.col-md-12
              h2 Step 2 - Upload spreadsheet
          form(action="upload", method="post", enctype="multipart/form-data")
           .row
            .col.col-md-6
              .form-group
                label Select file
                input.form-control(type="file",name="template", size="40")
              .form-group
                button(type="submit")#go.btn.btn-primary Upload and list pumps
            .col.col-md-6
              .alert(class=(units.active=="US" ? "alert-warning" : "alert-info"))
                p.strong Your active unit set is #{units.active} units.  All data in your template should be in the associated units. 
                ul(style="margin-top:1em;margin-bottom:1em")
                  li Flow should be in #{units.flow.label}
                  li Head should be in #{units.head.label}
                  li Diameters should be in #{units.diameter.label}
                  li Power should be in #{units.power.label}
                p You may change your active unit set by accessing the control at the top-right side of this screen.  

