extends ../layout
block nav
     +navigation("certificates")
block styles
    style.
        .tile {
            padding-left:5em;
            padding-right:5em;
        }
block content
    .container#vue(v-cloak, data-units=(JSON.stringify(units)))
        form.form-horizontal
         .panel.panel-default.hi-panel-search.rating_panel
          .panel-heading
              .heading
                img(src="/images/"+i18n.t("hi_rating_logo", {lng: 'en'}), width="600").hidden-xs
                img(src="/images/"+i18n.t("hi_rating_logo", {lng: 'en'}), style="width:80%").hidden-md.hidden-lg.hidden-sm
                
          .panel-body
                h1 Certificate Cart
                p.help-block You can checkout these certificates now, or return to the ER Certificate search to create more.  Please note that the certificates will not be listed until your checkout is complete.
                if  !cart || cart.length == 0
                    p.alert.alert-warning You have no certificates in your cart.
                else
                    table.table 
                        thead 
                            tr
                                th Packager
                                th ER-Listed Basic Model
                                th Original ER
                                th Extended Motor
                                th Extended VFD
                                th Exended ER
                                th Quantity
                                th 
                        tbody
                            each certificate in cart
                                tr
                                    td #{certificate.packager.name} / #{certificate.packager.company}
                                    td 
                                        if certificate.pump_record
                                            span #{certificate.pump_record.basic_model} / #{certificate.pump_record.rating_id}
                                    td
                                        if certificate.pump_record
                                            span #{certificate.pump_record.energy_rating}
                                    td 
                                        if certificate.poles && certificate.motor
                                            span #{certificate.motor.model} / #{certificate.motor.manufacturer}
                                    td 
                                        if certificate.vfd
                                            span #{certificate.driver.model} / #{certificate.driver.manufacturer}
                                    td #{certificate.energy_rating}
                                    td #{certificate.quantity}
                                    td 
                                        a.btn.btn-danger(href='/ratings/certificates/cart/delete/#{certificate.number}') Delete

                    section
                        hr
                        .pull-right
                            a.btn.btn-default(href='/ratings/certificates/create') Create more certificates
                            a.btn.btn-success(href='/ratings/certificates/checkout').btn-space Checkout
                                    
                
              
                
                 
    
    