extends ../layout
block nav
     +navigation("certificates")
block styles
    style.
        .tile {
            padding-left:5em;
            padding-right:5em;
        }
block content
    .container#vue(v-cloak, data-units=(JSON.stringify(units)))
        form.form-horizontal
         .panel.panel-default.hi-panel-search.rating_panel
          .panel-heading
              .heading
                img(src="/images/hydraulic-institute-logo.png", width="600").hidden-xs
                img(src="/images/hydraulic-institute-logo.png", style="width:80%").hidden-md.hidden-lg.hidden-sm
                
          .panel-body
            h1 Purchased Certificates
            p.help-block You may download your certificates using the controls below.  

            p.alert.alert-warning 
                span Your transaction ID is 
                code #{transaction._id} 
                br
                b Please retain this ID for your records, it is the only way you can retrieve the certificates at a future time.
           
            table.table 
                thead 
                    tr
                        th Certificate Serial Number
                        th Packager
                        th Pump
                        th Original ER
                        th Motor
                        th VFD
                        th Exended ER
                tbody
                     each certificate in purchased
                        tr  
                            td: a(href=`/ratings/certificates/certificate/${certificate.certificate_number}`, target='_blank') #{certificate.certificate_number}
                            td #{certificate.packager.name} / #{certificate.packager.company}
                            td 
                                span #{certificate.pump.basic_model} / #{certificate.pump.rating_id}
                            td
                                span #{certificate.pump.energy_rating}
                            td 
                                if certificate.motor && certificate.motor.model
                                    span #{certificate.motor.model} / #{certificate.motor.manufacturer}
                            td 
                                if certificate.vfd
                                    span #{certificate.vfd.model} / #{certificate.vfd.manufacturer}
                            td #{certificate.energy_rating}
                            td #{certificate.quantity}
                
            p   
                - var zip = "/ratings/certificates/purchased/" + transaction._id + "/zip"
                a.btn.btn-danger(href=zip) Download Certificates

                
                 
    
    