| Hello #{user.name.first}, \r\n
| #{creator.name.first} #{creator.name.last} has just created an account for you on the Hydraulic Institute's Energy Rating Portal.\r\n
| In order to access your account, click on the activation link below.  You will be asked to create your password for the portal, and can begin using the portal right away.
| Please visit the following URL:  #{activation_link}\r\n\r\n

| If you have any questions about why this account has been created, and what you can do with the Energy Rating Portal, please contact one of your organization's portal administrators (i.e. #{creator.name.first} #{creator.name.last}).\r\n

| Thank you -\r\n
| The Hydraulic Institute