extends ../layout



block content
 .container(ng-app='RegistrationApp')
  .panel.panel-default.solo(ng-controller="RegistrationController as app")
    .panel-heading
      h1 Confirm registration information
    .panel-body
        if stop
           .row
            .col.col-sm-12
                .alert.alert-danger 
                  h4 #{participant.name} is already registered as a participant in the Energy Ratings program.
                
                p You cannot create a new account through this site.  
                p Please contact a Hydraulic Institute administrator for further detail about this account.
                        
                p: a(href="/") Go back to Hydraulic Institute's Energy Rating Program Homepage
                        
        else 
          if warn
           .row
            .col.col-sm-12
                .panel.panel-warning
                    .panel-heading
                        h3 Has your organization already registered?
                    .panel-body
                        p.text-warning 
                         | We've noticed that there are participant organization(s) already registered with HI
                         | with very similar names as what you've entered.  
                        
                        p 
                         | Please note that if your organization is 
                         | already registered, you should NOT create a new account through this site.  
                        p Please contact a Hydraulic Institute administrator for further detail about this account if you are unsure how to proceed.
                        
                        h4 Similarly named organizations:
                        ul
                          each p in similar
                            li #{p}  
                        p.text-primary If the organizations listed above are not your organization, you may proceed.
          
          .row
            .col.col-sm-12
              p You are about to create an account for your Organization:
              .well
                .row
                 .col.col-sm-3
                   label Organization Name:
                 .col.col-sm-9
                   p #{participant.name}
     
          .row
            .col.col-sm-12
              p You will be set as the primary account holder:
              .well
                .row
                 .col.col-sm-3
                   label Name:
                 .col.col-sm-9
                   p #{user.name.first} #{user.name.last}
                .row
                 .col.col-sm-3
                   label Email:
                 .col.col-sm-9
                   a(href="mailto:#{user.email}") #{user.email}
          .row
            .col.col-sm-12
                p     
                    | You will be able to add additional logins under this organization later, so be sure to let
                    | others in your organization know that there is already an account for <org>.
                p
                    | Please click "Register now" to confirm.  Your account will be created, and you will
                    | then be able to enter payment information in order to list pumps within the system.
          .row
            .col.col-sm-12
             form(action="registration_confirm", method="post")
                    input.form-control(type="hidden", name="participant[name]" value=participant? participant.name : null)
                    input.form-control(type="hidden", name="user[name][first]" value=user && user.name ? user.name.first : null)
                    input.form-control(type="hidden", name="user[name][last]" value=user && user.name ? user.name.last : null)
                    input.form-control(type="hidden", name="user[email]" value=user ? user.email : null)
                    input.form-control(type="hidden", name="user[password]" value=user ? user.password : null)
                    .well
                        h3 Eligibility Requirements
                        p The HI 40.5-2016 Program Guide for Pump Energy Rating Program, outlines the scope of products and Participation requirements of the Energy Rating Program.
                        hr
                        .checkbox
                          label
                            input(type="checkbox", ng-model="app.confirm1")
                            b.strong The Participant has reviewed and understands the scope and requirements of the Program as outlined in HI 40.5-2016 and agrees to the terms of participation as outlined in HI 40.5-2016.
                        hr
                        p Section 40.5.2.1 of HI 40.5-2016 outlines the requirements for eligibility to participate. This section states that any organization which manufactures, sells, packages or distributes pump(s) within the scope of the Guiding Standards listed in section 40.5.1.7 is eligible to participate in the Program per the terms outlined in this application.
                        p The following criteria shall also be met to Participate:
                        ul
                         li Supply HI with a basic model listing(s) as described in section 40.5.4.3 and agree to abide by all requirements of the Guiding Standards, this document and all licensing and contractual documents.
                         li 
                          | Have access to HI Energy Rated basic models listed in the HI database or have access to an HI approved test laboratory 
                          a(href="http://www.pumps.org/40.7") www.pumps.org/40.7
                        
                        hr
                        .checkbox
                          label
                            input(type="checkbox", ng-model="app.confirm2")
                            b.strong The Participant has reviewed section 40.5.2.1 and meets the eligibility requirements
                        
                    .well
                        h3 Application Terms:
                        p The Program Manager may request from the Participant their calculation of the PEI consistent with 10 CFR 429.59, 10 CFR 429.110 and 10 CFR 429.134 along with the stamped certified raw test data by the HI Approved Laboratory representative for all samples used in the determination of PEI as submitted in the ER listing. The participant shall provide this data to the satisfaction of the program manager or be subject to section 40.5.5.3 Violations.
                        hr
                        .checkbox
                          label
                            input(type="checkbox", ng-model="app.confirm3", required)
                            b.strong The participant agrees to the terms of the application

                    
                    button.btn.btn-primary(type="submit", ng-disabled="!app.confirm1 || !app.confirm2 || !app.confirm3") Confirm Registration
                    
              