| Hello #{deleted.name.first},
| Your account with the Hydraulic Institute's Energy Rating Portal has been deleted by #{actor.name.first} #{actor.name.last}.
| If you believe this was in error, please contact #{actor.name.first} at
a(href="mailto:#{actor.email}") #{actor.email}   
    
| This email account is not monitored, please do not reply to this email
    
| Thank you -
| The Hydraulic Institute