| This is an automated email from the HI ER Portal.  A new user has registered for the portal and requires E-Store setup.  All provided information is listed
| below.  Please contact the person listed under purchasing to discuss payment.

| Organization:  
| #{participant.name}

| Purchasing contact name:    
| #{participant.purchasing.name}

| Purchasing phone / email:    
| #{participant.purchasing.phone} / #{participant.purchasing.email}

| Registrant name:    
| #{participant.contact.name.first} #{participant.contact.name.last}

| Registrant email:    
| #{participant.contact.email}
    
| This email account is not monitored, please do not reply to this email

